body {
    background-image: url(../image/font1.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
}

.tete{
    width: 100%;
    min-height: 50px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
}

.tete-titre{
    font-size: 25px;
}
.tete-titre span{
    color: rgba(51, 96, 32);
}

.tete-menu{
    font-size: 18px;
}
.tete-menu i {
    color: black;
}

.tete-bouton{
    display: flex;
    justify-content: space-around;
}
.tete-bouton button{
    background-color: #3f65f0;
    margin-left: 10px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.main-desc{
    background-color: aliceblue;
}

.main-img{
    background-color: #3f65f0;
}