* {
    width: 100%;
    height: 100%;
}

.tete{
    width: 100%;
    min-height: 300px ;
}

.tete-titre{
    font-size: 25px;
}

.tete-menu{
    font-size: 18px;
}

.tete-bouton{
    display: flex;
    flex-direction: row;
}

main{
    width: 100%;
}

.main-desc{
    display: flex;
    flex-direction: column;
}

.main-img{
    background-color: white;
}